.navbar{
    width: 100%;
    align-items: center;
    background-color: rgba(204, 248, 226, 0.521);
}
.menu-container{
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.nav-links{
    font-size: 1.5em;
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    padding: 20px;
    margin: 30px;
    text-decoration: none;
    color: rgb(48, 70, 59);
}
.nav-link:hover,
.nav-link:focus{
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5%;
    color: rgb(25, 37, 31);
}